*
{
    margin: 0;
    padding: 0;
}
body,html
{
    min-height: 100%;
    @import url('https://fonts.googleapis.com/css2?family=Overpass:ital@1&display=swap');
    font-family: 'Overpass', sans-serif;
    background-color: #0E0E0E;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-container
{
    border: 2px solid chocolate;
    /* margin: 2rem 10rem; */
    width:25rem ;
    height: 23rem;
    color: azure;
    border-radius: 25px;
}
#submit-svg
{
    width: 30%;
    height: 30%;
    margin:3rem 6rem;
    
}
#header-p,#content-h
{
    margin: 1rem 4rem;
    width: 22rem;
}
#footer-p {
    margin: 1rem 4rem;
    width: 22rem;
}
.reading
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
